<a href="https://colab.research.google.com/github/AlbertoOstorga/Hola-Mundo/blob/main/1_Extraccion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#Importamos librerías requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
#Cargar archivo csv desde equipo
from google.colab import files 
files.upload()

In [16]:
#Convertir a dataframe
df= pd.read_csv("file.csv")
#df

In [ ]:
#Imprimir las primeras cinco filas
df.head(5)

**FILTROS BÁSICOS PARA VARIABLES CUALITATIVAS**

In [ ]:
#Filtro por objeto
filtro1=df[df["Entidad_Federativa"] == "Baja California"]
filtro1

In [ ]:
#Filtro por filas no consecutivas
filtro2=df.iloc[[1000, 2000, 300],:] #Filas no consecutivas
filtro2

In [ ]:
#Filtro por filas consecutivas
filtro2_1=df.iloc[1000:2001,:] #Filas consecutivas
filtro2_1

In [ ]:
#Filtro por columnas no consecutivas
filtro3=df.iloc[:,[1,4,6]] #Columnas no consecutivas
filtro3

In [ ]:
#Filtro por columnas consecutivas
filtro3_1=df.iloc[:,4:7] #Columnas consecutivas
filtro3_1

In [ ]:
#Filtro mezclado
filtro_mix=df.iloc[[1000,2000,3000],1:2] #Filas no consecutivas - columnas consecutivas
filtro_mix

In [ ]:
#Filtro mezclado
filtro_mix2=df.iloc[0:99,[1,2]] #Filas consecutivas - columnas no consecutivas
filtro_mix2

In [ ]:
#Filtro de filas vs columnas
#Paso 1: Leemos el contenido del archivo
from google.colab import files 
uploaded=files.upload()
df= pd.read_csv(io.BytesIO(uploaded['file.csv']),index_col=2)

In [ ]:
#Paso 2: Aplicamos Filtro de filas vs columnas
filtro4=df.loc[["Puebla","Durango"],["Poblacion_ocupada_en_la_industria_manufacturera"]]
filtro4

**FILTROS BÁSICOS PARA VARIABLES CUANTITATIVAS**

In [63]:
#Filtro por comparacion
filtro6=df[df["Periodo"] >= 2006]
filtro6

,Periodo,Trimestre,Sexo,Poblacion_ocupada_en_la_industria_manufacturera,Poblaci n_ocupada,Tasa_de_ocupaci n_en_la_industria_manufacturera
Entidad_Federativa,,,,,,
Nacional,2006,1,Hombres,4377795,26913995,16.265868370000000000000
Nacional,2006,1,Mujeres,2741480,15826941,17.321603710000000000000
Aguascalientes,2006,1,Hombres,58341,256317,22.761268270000000000000
Aguascalientes,2006,1,Mujeres,25737,152027,16.929229680000000000000
Baja California,2006,1,Hombres,156261,779609,20.043508990000000000000
...,...,...,...,...,...,...
Veracruz,2022,1,Mujeres,107640,1190733,9.0398099320000000000000
Yucat n,2022,1,Hombres,101992,691397,14.751582670000000000000
Yucat n,2022,1,Mujeres,82759,478943,17.279509250000000000000
Zacatecas,2022,1,Hombres,44105,402326,10.962503040000000000000
Zacatecas,2022,1,Mujeres,39472,255761,15.43315830000000000000