<a href="https://colab.research.google.com/github/AlbertoOstorga/Hola-Mundo/blob/main/2_Valores_Nulos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [60]:
#Importamos las librerias pandas, numpy y matplotlib respectivamente
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
#Cargar achivo csv desde equipo
from google.colab import files
files.upload()

In [ ]:
#Carga desde un archivo csv sin índice
data= pd.read_csv('inmuebles2.csv')
data.head(5)

In [ ]:
#Eliminar filas innecesarias
data1= pd.read_csv('inmuebles2.csv', skiprows=1, low_memory=False)
data1

In [ ]:
#Eliminar columnas innecesarias
data2= data1.drop(['0','Referencia'], axis=1) # 1: columna  0: filas
data2

In [ ]:
#Identificar valores nulos por columna
valores_nulos=data2.isnull().sum()
valores_nulos

# **Métodos de Sustitución de Valores Nulos**

In [106]:
#Realizamos una copia del dataframe
data3=data2.copy()

In [107]:
#Primer método de sustitución
#Sustituir valores nulos por el promedio de la columna
data3["Superficie"] = data3["Superficie"].fillna(round(data2["Superficie"].mean(),1))

In [108]:
#Segundo método de sustitución
#Sustituir valores nulos con mediana
data3["Precio Venta"] = data3["Precio Venta"].fillna(round(data2["Precio Venta"].median(),1))

In [117]:
#Tercer método de sustitución de valores nulos
#Sustituir valores nulos por un valor numérico en concreto
data3["Fecha Alta"]= data3["Fecha Alta"].fillna(10)

In [ ]:
valores_nulos=data3.isnull().sum()
valores_nulos

In [119]:
#Cuarto método de sustitución de valores nulos
#Sustituir valores nulos por un string en concreto
data3["Fecha Venta"] = data3["Fecha Venta"].fillna("2030-06-19 00:00:00")

In [ ]:
valores_nulos=data3.isnull().sum()
valores_nulos

In [121]:
#Quinto método de sustitución
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill" ("ffill")
#Filtro por columna
data3["Tipo"] = data3["Tipo"].fillna(method="ffill")

In [ ]:
valores_nulos=data3.isnull().sum()
valores_nulos

In [123]:
#Sexto método de sustitución
#Sustituir valores nulos por valores no nulos hacia atrás "backward fill" ("bfill")
#Filtro por columna
data3["Operación"] = data3["Operación"].fillna(method="bfill")

In [ ]:
valores_nulos=data3.isnull().sum()
valores_nulos

In [125]:
#Sexto método de sustitución
#Sustituir valores nulos por valores no nulos hacia atrás "backward fill" ("bfill")
#Filtro por columna
data3["Provincia"] = data3["Provincia"].fillna(method="bfill")

In [ ]:
valores_nulos=data3.isnull().sum()
valores_nulos

In [128]:
#Quinto método de sustitución
#Sustituir valores nulos por valores no nulos hacia adelante "foward fill" ("ffill")
#Filtro por columna
data3["Vendedor"] = data3["Vendedor"].fillna(method="ffill")

In [130]:
#Corroborar valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
Fecha alta      0
dtype: int64

In [132]:
#Corroborar valores nulos en el dataframe
valores_nulos=data3.isnull().sum().sum()
valores_nulos

0

# **"Método de eliminación de valores nulos"**

In [133]:
#Realizamos una copia del dataframe
data4=data2.copy()

In [ ]:
#Eliminamos filas con nulos
data4= data2.dropna(0)
data4

In [138]:
#Corroborar valores nulos
valores_nulos=data4.isnull().sum()
valores_nulos

Fecha Alta      0
Tipo            0
Operación       0
Provincia       0
Superficie      0
Precio Venta    0
Fecha Venta     0
Vendedor        0
dtype: int64

In [137]:
#Corroborar valores nulos en el dataframe
valores_nulos=data4.isnull().sum().sum()
valores_nulos

0

# **Comparamos DataFrame3 (Sustitución) y DataFrame4 (Eliminación)**

In [139]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3337 entries, 0 to 3336
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    3337 non-null   object
 1   Tipo          3337 non-null   object
 2   Operación     3337 non-null   object
 3   Provincia     3337 non-null   object
 4   Superficie    3337 non-null   float64
 5   Precio Venta  3337 non-null   float64
 6   Fecha Venta   3337 non-null   object
 7   Vendedor      3337 non-null   object
 8   Fecha alta    3337 non-null   object
dtypes: float64(2), object(7)
memory usage: 234.8+ KB

In [141]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2747 entries, 0 to 3045
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Fecha Alta    2747 non-null   object
 1   Tipo          2747 non-null   object
 2   Operación     2747 non-null   object
 3   Provincia     2747 non-null   object
 4   Superficie    2747 non-null   float64
 5   Precio Venta  2747 non-null   float64
 6   Fecha Venta   2747 non-null   object
 7   Vendedor      2747 non-null   object
dtypes: float64(2), object(6)
memory usage: 193.1+ KB

# **Convertir DataSet sin valores nulos a CSV**

In [142]:
#Covnertir DataFrame a CSV
data3.to_csv("inmuebles_sin_nulos.csv")

In [145]:
#Descargar archivo filtrado en csv
from google.colab import files
files.download("inmuebles_sin_nulos.csv")